<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>BOC Weather data details</h1>

        <div id="details">
        		<label>Station</label><input id="station"></input><br/>
        		<label>Province</label><input id="province"></input><br/>
        		<label>Date</label><input id="date"></input><br/>
        		<label>Mean Temp</label><input id="meanTemp"></input><br/>
        		<label>Lowest Monthly Min Temp</label><input id="lowestMonthly_Min_Temp"></input><br/>
        		<label>Highest Monthly Max Temp</label><input id="highest_Monthly_Max_Temp"></input><br/>
        </div>
        
<!--         <label id="" -->
<!--         	String station_name; -->
<!-- 	String province; -->
<!-- 	String date; -->
<!-- 	String meanTemp; -->
<!-- 	String highest_Monthly_Max_Temp; -->
<!-- 	String lowestMonthly_Min_Temp; -->

<!--         <form class="form-horizontal" id="filter-form"> -->
<!--             <div class="form-group form-group-lg"> -->
<!--                 <label class="col-sm-2 control-label">From</label> -->
<!--                 <div class="col-sm-10"> -->
<!--                     <input type="date" class="form-control" id="from" value="2018-01-01"/> -->
<!--                 </div> -->
<!--                 <label class="col-sm-2 control-label">To</label> -->
<!--                 <div class="col-sm-10"> -->
<!--                     <input type="date" class="form-control" id="to"  value="2018-01-07"/> -->
<!--                 </div> -->
<!--             </div> -->

<!--             <div class="form-group"> -->
<!--                 <div class="col-sm-offset-2 col-sm-10"> -->
<!--                     <button type="submit" id="filter" -->
<!--                             class="btn btn-primary btn-lg">Filter -->
<!--                     </button> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </form> -->
        


    </div>

</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/details.js"></script>

</body>
</html>